*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    list-style-type: none;
}

input {
    border: none;
    background-color: rgb(247, 243, 242);
}

button {
    border: none;
}